# Node
node_modules/
*.log
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Builds
backend/dist/
backend/*.tsbuildinfo
frontend/.next/
frontend/out/
frontend/*.tsbuildinfo
frontend/next-env.d.ts
.next/cache/

# Entornos y secretos
.env
.env.*
!.env.example
backend/uploads/
frontend/.env
frontend/.env.local

# Sistema/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Nginx / Let's Encrypt (datos locales)
nginx/certs/
nginx/html/.certbot/
letsencrypt/

# Varios
uploads/
coverage/
.eslintcache
.vercel
*.local
tmp/
*.tmp
